@import "typography";
@import "colors";
@import "about-us";
@import "buttons";
@import "products";
@import "afterword";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.brand-header {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 45px;
  max-width: 1300px;
}

.header-logo {
  font-size: 36px;
  color: $dark-green-color;
  font-weight: bold;
  padding-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2.6;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-self: center;
  flex: 2.3;
}

.header-menu-item {
  font-size: 22px;
  font-family: Calibri, sans-serif;
  padding: 0 38px 0 38px;
}

.header-menu-item a {
  color: $black-color;
  text-decoration: none;
}

.header-menu-item a:hover {
  border-bottom-color: $black-color;
  border-bottom: solid 3px;
}

.brand-promo {
  height: 41.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 41px 0 27px 0;
}

.brand-promo-text {
  max-width: 538px;
  height: fit-content;
  color: $dark-green-color;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 121px;
  right: 318px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.75);
  padding-left: 70px;
  z-index: 1;
}

.promo-text-large {
  font-size: 58px;
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
  padding: 70px 110px 0 0;
}

.promo-text-small {
  font-size: 20px;
  font-family: Calibri, sans-serif;
  padding-top: 20px;
  padding-bottom: 70px;
  padding-right: 130px;
}

.brand-promo-image {
  display: flex;
  justify-content: flex-end;
  width: 85%;
  position: absolute;
  margin: 0 0 0 5px;
}

.dots {
  position: relative;
  top: 20px;
  left: -750px;
  z-index: 2;
}

.trusted-partners {
  background-color: $light-bg-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 94px;
  margin-bottom: 51px;
}

.trusted-headline {
  font-size: 24px;
  font-family: Calibri, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.partners-list {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 51px 0 51px 0;
}

.partners-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 15px 0 15px;
}

.partners-list-text {
  font-size: 22px;
  font-weight: bold;
  color: $logo-grey-color;
}

.Mashable {
  font-weight: bold;
}

.Fortune {
  font-size: 24px;
}

.Microsoft {
  padding-left: 5px;
}

.site-section {
  display: flex;
  flex-direction: column;
  margin: 100px auto 143px auto;
}

.advantages-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.itm3 {
  margin-top: 14px;
}

.shopping-itm {
  font-size: 18px;
  font-family: Calibri, sans-serif;
  color: $dark-grey-color;
  padding-top: 5px;
}

.cashback, .terms, .save-money {
  padding: 0 50px 0 50px;

  .deals-img {
    width: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .site-section {
    width: 1280px;
  }
}

.room-furniture {
  width: 100%;
}

.online-shopping-title {
  font-size: 21px;
  font-weight: bold;
  padding: 15px 0 21px 0;
}

.products-categories {
  max-width: 420px;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px auto;
  a {
    color: #bdb79a;
    text-decoration: none;
  }
}

.product-cards {
  max-width: 1110px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 110px auto;
}

.card {
  width: 310px;
  //background-color: #f4f6f5;
  padding: 35px 0 175px 45px;
  margin: 0 28px 186px 28px;
}

.cards-title {
  font-size: 28px;
  font-family: Calibri, sans-serif;
}

.cards-subtitle {
  max-width: 135px;
  font-size: 21px;
  font-family: Calibri, sans-serif;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top:25px;

  :nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    color: #a8a7a5;
    text-decoration: line-through;
    margin-right: 20px;
  }
}
